<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>365293115695-9v0i75fa2c1pj9adbklpdocpb0a5dpso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365293115695-9v0i75fa2c1pj9adbklpdocpb0a5dpso</string>
	<key>API_KEY</key>
	<string>AIzaSyCLGKe39UUN_-pGOJpOr6X9E79QJEu0ZEs</string>
	<key>GCM_SENDER_ID</key>
	<string>365293115695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gociao.nativeMap</string>
	<key>PROJECT_ID</key>
	<string>nativemap-1525324113614</string>
	<key>STORAGE_BUCKET</key>
	<string>nativemap-1525324113614.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365293115695:ios:8e9a77536317fb64</string>
	<key>DATABASE_URL</key>
	<string>https://nativemap-1525324113614.firebaseio.com</string>
</dict>
</plist>